html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
  font-size: 1.4rem;
  color: #000;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

li {
  border-style: solid;
  border-width: 3px;
  border-color: #987ffa;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .25em 1rem;
}

li > img {
  width: 75%;
}

li h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: #6f00e7;
  margin: 0;
}

li p {
  text-align: center;
  margin: 0;
}

.right {
  display: flex;
}

.buttons .cart {
  font-family: Oswald, sans-serif;
  color: #fff;
  text-decoration: none;
  background-color: #6f00e7;
  border-width: 3px;
  border-radius: 3em;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
